@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,400;0,500;0,700;0,800;1,100;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,300;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

/* border: 3px solid rgb(96, 13, 230);
background-color: rgb(96, 13, 230); */
/* font-family: 'Raleway'; */
/* color: rgb(96, 13, 230); */

::-webkit-scrollbar {
    width: 8px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(104, 18, 185);
    border-radius: 2px;
}

html {
    scroll-behavior: smooth;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    font-family: 'Raleway';
    height: auto;
    box-shadow: 0 0 20px lightgrey;
    background-color: #fff;
    display: flex;
    padding: 10px 80px 0px 80px;
    z-index: 9999;
}

.navbar h2 {
    color: rgb(96, 13, 230);
    font-size: 24px;
    font-weight: bold;
}

.navbar ul {
    display: flex;
}

.navbar ul li {
    margin: 2px 10px;
    list-style: none;
    font-weight: bold;
    transition: 0.5s;
    padding: 7px;
    border-radius: 5px;
    cursor: pointer;
    background-color: transparent;
    border: 3px solid rgb(96, 13, 230);
    color: rgb(96, 13, 230);
}

.navbar ul li:hover {
    transition: 0.5s;
    transform: scale(0.96);
    border-radius: 5px;
    cursor: pointer;
    border: 3px solid rgb(96, 13, 230);
    background-color: rgb(96, 13, 230);
    color: white;
}

.sec-1s {
    position: relative;
    top: 120px;
    width: 93%;
    padding: 20px;
    margin: auto;
    font-family: 'Raleway';
    height: auto;
    display: flex;
    background-color: #fff;
    border-radius: 5px;
}

.sec-1s div {
    margin: 0 10px;
}

.title-list {
    text-align: center;
    background-color: rgb(96, 22, 216);
    padding: 2px 0px;
    color: white;
    display: flex;
    border-radius: 40px;
}

.title-list h3 {
    margin-left: 38px;
    font-size: 25px;
}

.list-anggota {
    text-align: center;
    width: 25%;
    border-radius: 6px;
    padding: 20px 15px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px rgb(228, 228, 228);
}

.list-anggota i {
    margin-left: 25px;
    font-size: 35px;
}

.sampul-wrap {
    width: 75%;
}

.list-people {
    position: relative;
    text-align: left;
    font-weight: 500;
    width: 100%;
}

.list-people ul {
    position: relative;
    margin-top: 30px;
}

.list-people li {
    position: relative;
    left: -20px;
    line-height: 2em;
    font-size: 18px;
    margin: 20px 0;
    font-weight: 500;
}

.lencanas {
    position: relative;
    margin-left: 10px;
    background-color: rgb(21, 226, 226);
    color: white;
    border-radius: 30px;
    padding: 1px 10px;
}

.lencana3 {
    position: relative;
    margin-left: 10px;
    background-color: rgb(21, 226, 226);
    color: white;
    border-radius: 30px;
    padding: 2px 10px;
}

.la-search {
    position: relative;
    font-size: 30px;
    top: 35px;
    margin: 0 10px;
}

.grp {
    position: relative;
    top: 20px;
    display: flex;
    width: 100%;
}

.sampul {
    position: relative;
    width: 100%;
    margin: auto;
    height: 248px;
    border-radius: 10px;
    background-image: url('../images/dekorasi/performance.png');
    color: white;
    text-align: left;
    padding: 25px;
    overflow: hidden;
    background-color: #fff;
    z-index: 888;
}

.spinnerX {
    position: relative;
    width: 100%;
    margin: auto;
    text-align: center;
}

.spinnerX p {
    position: relative;
    top: 20px;
    width: 100%;
    margin: auto;
    text-align: center;
}

.la-expand {
    position: absolute;
    right: 25px;
    color: white;
    top: 13px;
    font-size: 32px;
    cursor: pointer;
    transition: 0.6s;
}

.share-input {
    position: relative;
    top: 15px;
    width: 100%;
    padding: 4px;
    z-index: 989;
}

.share-input input {
    position: relative;
    outline: none;
    border-radius: 40px;
    padding: 4px 15px 4px 10px;
    height: 50px;
    width: 70%;
    transition: 0.4s;
    box-shadow: 0 0 5px rgb(214, 214, 214);
    border: 2px solid white;
}

.share-input input:focus {
    outline: none;
    border: 2px solid white;
    box-shadow: 0 0 5px rgb(214, 214, 214);
    width: 100%;
    transition: 0.4s;
}

.menus {
    position: absolute;
    top: -15px;
    right: 60px;
    width: 300px;
    height: auto;
    border-radius: 7px;
    background-color: #fff;
    padding: 5px;
    text-align: center;
    opacity: 0;
    transition: 0.3s;
}

.la-copy {
    position: absolute;
    top: 26px;
    right: 55px;
    font-size: 20px;
    text-align: right;
    color: black;
    cursor: pointer;
    transition: 0.3s;
}

.la-copy:hover {
    transition: 0.3s;
    top: 30px;
}

.la-copy:active {
    transition: 0.3s;
    transform: scale(0.84);
}

.menus-show {
    transition: 0.5s;
    opacity: 1;
    top: 15px;
}

.menus small {
    color: black;
    font-weight: bold;
}

.menus hr {
    color: grey;
}

.menus h5 {
    color: black;
}

.menus h4 {
    color: black;
}

.popup {
    position: fixed;
    top: -100px;
    left: 320px;
    width: 60%;
    height: auto;
    margin: auto;
    border-radius: 10px;
    background-color: rgba(80, 80, 80, 0.938);
    padding: 150px 25px 230px 25px;
    font-family: 'Raleway';
    z-index: 999;
    text-align: center;
    transition: 0.6s;
    color: rgb(255, 255, 255);
    opacity: 0;
}

.ups {
    font-size: 19px;
    opacity: 0.8;
    text-align: center;
    margin-left: 50%;
    transform: translate(-50%, -50%);
}

.popup-show {
    position: fixed;
    transition: 0.8s;
    opacity: 1;
    top: 140px;
}

.pop-up h3 {
    font-weight: bold;
}

.bt-siaps {
    position: relative;
    top: 140px;
    left: 0px;
    background-color: rgb(239, 238, 241);
    border-radius: 6px;
    color: rgb(49, 49, 49);
    font-weight: bold;
    padding: 10px;
    width: 160px;
    outline: none;
    transition: 0.5s;
}

.bt-siaps:hover {
    position: relative;
    transition: 0.5s;
    color: rgb(66, 66, 66);
    transform: scale(0.96);
}

.la-flask {
    position: absolute;
    left: 45%;
    font-size: 82px;
    text-align: center;
}

.la-expand:active {
    transform: scale(0.7);
    transition: 0.6s;
}

.sampul h3 {
    position: relative;
    left: -30px;
    background-color: #fff;
    box-shadow: 0 0 8px rgba(22, 22, 22, 0.39);
    color: black;
    border-radius: 0 30px 30px 0;
    width: 35%;
    text-align: right;
    padding: 2px 50px 2px 0px;
}

.sampul p {
    position: absolute;
    width: auto;
    bottom: 35px;
    left: 0px;
    font-size: 15px;
    font-weight: 500;
    background-color: #fff;
    color: black;
    padding: 2px 10px;
    border-radius: 0 30px 30px 0;
}

.jml-murid {
    position: absolute;
    bottom: 13px;
    left: 0px;
    font-weight: 500;
    background-color: #fff;
    color: black;
    font-size: 15px;
    padding: 2px 10px;
    border-radius: 0 30px 30px 0;
}

.list-tugas {
    position: relative;
    width: 100%;
    height: auto;
    padding: 20px;
    top: 50px;
    margin: 20px 0;
    display: block;
    overflow-y: scroll;
}

.list-tugas i {
    font-size: 28px;
    background-color: rgb(96, 13, 230);
    color: white;
    border-radius: 20px;
    padding: 5px;
    z-index: 999;
}

.child-tugas {
    position: relative;
    left: -10px;
    width: 100%;
    height: auto;
    border-radius: 60px;
    background-color: #fff;
    box-shadow: 0 0 20px lightgrey;
    display: flex;
    margin: 50px 0 140px 0;
    text-align: left;
    padding: 20px;
    line-height: 6px;
    transition: 0.5s;
    z-index: 999;
    transform: scale(0.96);
}

.child-tugas:hover {
    transition: 0.5s;
    cursor: pointer;
    left: 0px;
}

.child-tugas h3 {
    position: relative;
    left: -10px;
    font-size: 20px;
    font-weight: 500;
}

.child-tugas p {
    position: relative;
    left: -10px;
}

.child-tugas p, small {
    position: relative;
}

/* Q8RxvJ */

.proses {
    position: fixed;
    font-family: 'Raleway';
    margin: auto;
    left: 0;
    padding: 130px;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    color: rgb(41, 41, 41);
    font-weight: 500;
    text-align: center;
    z-index: 9999;
    transition: 0.5s;
}

.proses .la-hdd, .proses .la-cloud-upload-alt, .proses .la-cloud-download-alt {
    font-size: 100px;
    margin: 0 20px;
}

.content-proses {
    position: relative;
}

.proses h2 {
    position: relative;
    margin-top: 40px;
    font-size: 500;
    font-size: 40px;
}

.proses .spinner {
    position: relative;
    margin-top: 40px;
    font-size: 38px;
}

.cek-tugas {
    position: fixed;
    margin: auto;
    top: 0px;
    left: 7%;
    width: 85%;
    justify-content: space-around;
    height: auto;
    border-radius: 9px;
    font-family: 'Raleway';
    padding: 20px;
    z-index: 89;
    display: flex;
    transition: 0.5s;
    opacity: 0;
    transform: scale(1);
}

.list-imgs {
    width: 100%;
    height: 100px;
    padding: 20px;
    display: block;
}

.list-imgs img {
    width: 300px;
    height: 150px;
    border-radius: 6px;
}

.list-conzz {
    display: block;
    height: 100px;
}

.la-search-plus:hover {
    transition: 0.5s;
    transform: scale(1.2);
}

.list-imgs i {
    position: relative;
    top: 0px;
    margin: 20px 20px;
    background-color: rgb(96, 13, 230);
    border: 2.5px solid rgb(96, 13, 230);
    padding: 5px;
    border-radius: 36px;
    color: rgb(254, 254, 255);
    transition: 0.5s;
}

.list-imgs i:hover {
    position: relative;
    top: -5px;
    cursor: pointer;
    background-color: transparent;
    transform: scale(1);
    color: rgb(96, 13, 230);
    transition: 0.5s;
}

.la-link, .la-download, .la-search-plus {
    font-size: 21px;
}

.cek-tugas-show {
    position: fixed;
    transition: 0.5s;
    margin: auto;
    top: 100px;
    z-index: 2229;
    opacity: 1;
}

.times {
    position: absolute;
    top: 0;
    width: auto;
    height: auto;
    right: 0;
    color: rgb(243, 243, 243);
    border-radius: 90px;
    font-weight: bold;
    z-index: 98;
    transition: 0.5s;
}

.times i {
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgb(255, 255, 255);
    color: rgb(96, 13, 230);
    border-radius: 90px;
    font-weight: bold;
    font-size: 34px;
    padding: 10px;
    cursor: pointer;
    z-index: 98;
}

.times:hover {
    transition: 0.5s;
    transform: scale(0.95);
}

.cek-tugas div {
    margin: 0 20px;
}

.bt-lampiran {
    position: relative;
    border: 3px solid rgb(96, 13, 230);
    background-color: transparent;
    border-radius: 6px;
    color: rgb(24, 24, 24);
    font-weight: bold;
    padding: 0px;
    width: 100%;
    height: 47px;
    outline: none;
    transition: 0.5s;
    transform: scale(0.95);
}

.info {
    border: 2px solid rgb(96, 13, 230);
    background-color: rgb(96, 13, 230);
    color: rgb(250, 250, 250);
}

.info:hover {
    border: 2px solid rgb(96, 13, 230);
    color: rgb(96, 13, 230);
    background-color: rgb(255, 255, 255);
}

.info:hover .la-telegram {
    color: rgb(96, 13, 230);
}

.btn-comment {
    position: relative;
    border: 3px solid rgb(96, 13, 230);
    background-color: rgb(96, 13, 230);
    border-radius: 60px;
    color: rgb(250, 250, 250);
    font-weight: bold;
    padding: 0px;
    width: 20%;
    height: 47px;
    outline: none;
    transition: 0.5s;
    transform: scale(0.8);
}

.bt-like {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 5px;
    color: rgb(29, 29, 29);
    font-weight: bold;
    padding: 0px 5px;
    width: auto;
    height: 47px;
    transform: scale(0.7);
    outline: none;
    transition: 0.5s;
}

.bt-like:hover {
    transition: 0.5s;
    color: rgb(13, 219, 202);
}

.img-files {
    position: relative;
    width: 50%;
    height: auto;
    border-radius: 4px;
    overflow: hidden;
}

.waktuKumpul {
    margin-left: 14px;
}

.bt-lampiran2 {
    position: relative;
    margin: 10px auto 10px auto;
    background-color: rgb(96, 13, 230);
    border-radius: 6px;
    border: 3px solid rgb(96, 13, 230);
    color: rgb(255, 255, 255);
    font-weight: bold;
    padding: 10px 0;
    width: 100%;
    height: auto;
    outline: none;
    transition: 0.5s;
    transform: scale(0.93);
}

.bt-lampiran:hover, .bt-lampiran2:hover {
    transition: 0.5s;
    color: white;
    transform: scale(0.90);
    border: 3px solid rgb(96, 13, 230);
    background-color: rgb(96, 13, 230);
    cursor: pointer;
}

.list-gmb {
    position: relative;
    top: 20px;
}

.la-trash {
    position: relative;
    top: -80px;
    margin-left: 150px;
    background-color: rgb(223, 10, 10);
    color: white;
    border-radius: 30px;
    font-size: 17px;
    transition: 0.5s;
    padding: 1px;
}

.la-trash:hover {
    transition: 0.5s;
    transform: scale(1);
    cursor: pointer;
} */

.la-plus-circle {
    font-size: 20px;
}

.la-cloud-upload-alt {
    font-size: 22px;
}

.warning {
    position: relative;
    top: 25px;
    left: -19px;
    margin: 30px auto;
    width: 100%;
    height: auto;
    border-radius: 7px;
    background-color: #fff;
    color: black;
    font-family: 'Raleway';
    padding: 1px 30px 20px 20px;
    box-shadow: 0 0 20px lightgrey;
}

.la-exclamation-circle {
    font-size: 20px;
    color: rgb(250, 7, 7);
}

.detail-tugas {
    top: 150px;
    width: 80%;
    border-radius: 9px;
    background-color: #fff;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.301);
    font-family: 'Raleway';
    padding: 20px 20px 60px 20px;
    height: 500px;
    z-index: 899;
    overflow: scroll;
}

.detail-tugas p {
    width: 100%;
    text-align: left;
}

.custom-file {
    position: relative;
    width: 100%;
    height: auto;
    left: -20px;
    margin: 10px;
}

.detail-tugas2 {
    top: 150px;
    width: 33%;
    height: 500px;
    border-radius: 9px;
    background-color: #fff;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.301);
    font-family: 'Raleway';
    padding: 20px 50px 50px 50px;
    display: block;
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: 89;
    text-align: left;
}

.detail-tugas2 li {
    margin: 20px 0;
}

.detail-tugas h6, small {
    position: relative;
    left: 10px;
}

.detail-tugas p {
    position: relative;
    top: -10px;
    font-size: 15.8px;
}

.h6 {
    font-family: 'Raleway';
    font-size: 16px;
}

.list-komentar .smal {
    position: relative;
    top: 0px;
    font-weight: bold;
    font-size: 15px;
}

.like-komentar {
    padding: 10px 0px 0px 0px;
    display: flex;
    width: auto;
    height: auto;
}

.like-komentar i {
    font-size: 22px;
    margin: 0px 5px;
    cursor: pointer;
    transition: 0.5s;
}

.like-komentar i:hover {
    transition: 0.5s;
    transform: scale(1.2);
}

.list-likes {
    position: absolute;
    top: -50%;
    left: 100px;
    z-index: 99999999;
    background-color: #fff;
    box-shadow: 0 0 15px rgba(41, 41, 41, 0.178);
    width: auto;
    height: 300px;
    overflow: scroll;
    border-radius: 7px;
    padding: 0;
    transition: 0.5s;
    opacity: 0;
}

.list-likes-show {
    position: absolute;
    top: 10%;
    left: 100px;
    z-index: 99999999;
    background-color: #fff;
    box-shadow: 0 0 15px rgba(41, 41, 41, 0.178);
    transition: 0.5s;
    width: 220px;
    height: 300px;
    opacity: 1;
    overflow: scroll;
    border-radius: 7px;
    padding: 0;
}

.list-child {
    position: relative;
    left: -40px;
    width: 100%;
    height: 100px;
    color: black;
    padding: 20px 5px;
}

.la-thumbs-up-blue {
    color: rgb(255, 255, 255);
    font-size: 20px;
    background-color: lightskyblue;
    border-radius: 90px;
    transform: rotate(15deg);
    padding: 5px;
}

.list-komentar2 {
    position: relative;
    padding: 20px 5px 15px 5px;
    width: 100%;
    height: auto;
    font-family: 'Raleway';
    font-weight: 500;
    color: black;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(65, 65, 65, 0.151);
    border-radius: 5px;
}

.list-komentar {
    position: relative;
    padding: 20px 5px 15px 5px;
    width: 90%;
    height: auto;
    font-family: 'Raleway';
    font-weight: 500;
    color: black;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(65, 65, 65, 0.151);
    border-radius: 5px;
}

@media(max-width: 840px) {
    
    .navbar {
        display: none;
    }
        
    .sec-1s {
        position: relative;
        top: 0px;
        width: 100%;
        padding: 10px 0;
        margin: auto;
        font-family: 'Raleway';
        height: auto;
        display: flex;
        background-color: #fff;
        border-radius: 5px;
    }

    .sec-1s div {
        margin: 0 10px;
    }
        
    .list-anggota {
        display: none
    }
        
    .sampul-wrap {
        position: relative;
        width: 100%;
    }
        
    .sampul {
        position: relative;
        left: -10px;
        width: 100%;
        margin: auto;
        height: 248px;
        border-radius: 7px;
        background-image: url('../images/dekorasi/performance.png');
        color: white;
        text-align: left;
        padding: 10px;
        overflow: hidden;
        background-color: #fff;
        z-index: 888;
    }
        
    .sampul h3 {
        position: relative;
        top: 10px;
        left: -10px;
        background-color: #fff;
        box-shadow: 0 0 8px rgba(22, 22, 22, 0.39);
        color: black;
        border-radius: 0 30px 30px 0;
        width: 100%;
        text-align: right;
        padding: 4px 50px 4px 0px;
    }
        
    .la-expand {
        position: absolute;
        right: 25px;
        color: white;
        top: 80%;
        font-size: 32px;
        cursor: pointer;
        transition: 0.6s;
    }
    
    .menus {
        position: absolute;
        top: -15px;
        width: 100vw;
        left: -20px;
        height: auto;
        border-radius: 7px;
        background-color: rgb(241, 240, 240);
        padding: 5px;
        text-align: center;
        opacity: 0;
        transition: 0.3s;
        transform: scale(0.86);
    }
    
    .menus-show {
        transition: 0.5s;
        opacity: 1;
        top: 15px;
        left: -20px;
        box-shadow: 0 0 5px rgb(160, 160, 160);
    }
        
    .list-tugas {
        position: relative;
        width: 100%;
        height: auto;
        padding: 20px 0;
        top: 50px;
        margin: 20px 0;
        display: block;
        overflow-y: scroll;
    }

    .list-tugas i {
        position: relative;
        font-size: 28px;
        background-color: rgb(96, 13, 230);
        color: white;
        border-radius: 0px;
        padding: 5px;
        z-index: 999;
    }
        
    .share-input {
        position: relative;
        top: 15px;
        width: 100%;
        padding: 0px;
        z-index: 989;
    }

    .share-input input {
        position: relative;
        left: -8px;
        outline: none;
        border-radius: 40px;
        padding: 4px 15px 4px 10px;
        height: 50px;
        width: 100%;
        transition: 0.4s;
        box-shadow: 0 0 5px rgb(214, 214, 214);
        border: 2px solid white;
    }

    .spinnerX {
        position: relative;
        width: 100%;
        margin: auto;
        text-align: center;
    }

    .spinnerX p {
        position: relative;
        top: 20px;
        width: 100%;
        margin: auto;
        text-align: center;
    }
        
    .child-tugas {
        position: relative;
        left: -30px;
        width: 110%;
        height: auto;
        border-radius: 10px;
        background-color: #fff;
        box-shadow: 0 0 20px lightgrey;
        display: flex;
        margin: 50px 0 40px 0;
        text-align: left;
        padding: 20px 3px;
        line-height: 6px;
        transition: 0.5s;
        z-index: 999;
        transform: scale(0.96);
    }

    .guruX {
        display: none;
    }

    .child-tugas:hover {
        transition: 0.5s;
        cursor: pointer;
        left: -20px;
    }

    .child-tugas h3 {
        position: relative;
        left: -10px;
        font-size: 15px;
        font-weight: 500;
    }

    .child-tugas p {
        position: relative;
        left: -10px;
        width: 200%;
    }

    .child-tugas p, small {
        position: relative;
        width: 200%;
        overflow: scroll;
    }

    .child-tugas small {
        position: relative;
        left: -10px;
        font-size: 14px;
        font-weight: 500;
    }

}