@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

/* border: 3px solid rgb(96, 13, 230);
background-color: rgb(96, 13, 230); */
/* font-family: 'Raleway'; */
/* color: rgb(96, 13, 230); */

::-webkit-scrollbar {
    width: 8px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(104, 18, 185);
    border-radius: 2px;
}

html {
    scroll-behavior: smooth;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    font-family: 'Raleway';
    height: auto;
    box-shadow: 0 0 20px lightgrey;
    background-color: #fff;
    display: flex;
    padding: 10px 80px 0px 80px;
    z-index: 999;
}

.navbar h2 {
    color: rgb(96, 13, 230);
    font-size: 24px;
    font-weight: bold;
}

.navbar ul {
    display: flex;
}

.navbar ul li {
    margin: 2px 10px;
    list-style: none;
    font-weight: bold;
    transition: 0.5s;
    padding: 7px;
    border-radius: 5px;
    cursor: pointer;
    background-color: transparent;
    border: 3px solid rgb(96, 13, 230);
    color: rgb(96, 13, 230);
}

.navbar ul li:hover {
    transition: 0.5s;
    transform: scale(0.96);
    border-radius: 5px;
    cursor: pointer;
    border: 3px solid rgb(96, 13, 230);
    background-color: rgb(96, 13, 230);
    color: white;
}

.tugas-li {
    position: relative;
    background-color: rgb(96, 13, 230);
    color: white;
}

.sec-tambah-tugas3 {
    position: relative;
    font-family: 'Raleway';
    top: 180px;
    padding: 45px;
    box-shadow: 0 0 20PX lightgrey;
    margin: 10px auto 40px auto;
    width: 90%;
    height: auto;
    border-radius: 10px;
    background-color: #fff;
    display: flex;
}

.content-tugas {
    width: 35%;
    margin: 20px auto 0 auto;
    padding-top: 3px;
}

.form {
    margin: auto;
}

.list-opsi {
    position: absolute;
    right: 20px;
}

.list-opsi i {
    margin: 0 10px;
}

#timex {
    background-color: rgb(218, 26, 26);
    box-shadow: 0 0 10px rgba(46, 46, 46, 0.26);
    color: rgb(255, 253, 253);
    cursor: pointer;
    transition: 0.5s;
}

#pen {
    transition: 0.5s;
}

#timex:hover {
    top: -0.6px;
    background-color: rgb(218, 26, 26);
    box-shadow: 0 0 10px rgba(46, 46, 46, 0.26);
    color: rgb(255, 253, 253);
    transition: 0.5s;
    transform: scale(0.93);
}

#pen:hover {
    top: -0.6px;
    box-shadow: 0 0 10px rgba(46, 46, 46, 0.26);
    color: rgb(255, 253, 253);
    transition: 0.5s;
    cursor: pointer;
    transform: scale(0.93);
}

.bt-submit {
    position: relative;
    top: 20px;
    margin-top: 20px;
    border: 3px solid rgb(96, 13, 230);
    background-color: rgb(96, 13, 230);
    border-radius: 6px;
    color: white;
    font-weight: bold;
    padding: 10px;
    width: 160px;
    outline: none;
    transition: 0.5s;
}

.btn-submitX {
    display: none;
}

.bt-submit:hover {
    outline: none;
    transform: scale(0.96);
    transition: 0.5s;
    color: white;
}

.sec-tambah-tugas img {
    height: 250px;
    width: 250px;
}

.sec-tugas-img {
    position: relative;
    top: 140px;
    display: flex;
    width: 90%;
    background-color: #fff;
    border-radius: 8px;
    margin: auto;
    height: auto;
    font-family: 'Raleway';
    padding: 40px;
    box-shadow: 0 0 20px lightgrey;
}

.content-swipper {
    width: 30%;
}

.list-bantuan {
    width: 25%;
    padding: 0px 30px;
}

.img-swipper {
    position: relative;
    margin: auto;
    width: 90%;
    height: auto;
    font-family: 'Raleway';
    color: white;
    padding: 40px;
    border-radius: 10px;
    background-image: url('../images/dekorasi/extensions_allFeatures.png');
    background-repeat: repeat;
    background-size: contain;
    overflow: hidden;
}

.img-swipper h2 {
    width: 50%;
}

.list-bantuan li {
    position: relative;
    left: -30px;
    list-style: none;
    background-color: #fff;
    box-shadow: 0 0 20px lightgrey;
    border-radius: 8px;
    margin: 20px 0;
    font-weight: bold;
    padding: 8px;
    cursor: pointer;
    transition: 0.6s;
}

.list-bantuan li:hover {
    transition: 0.6s;
    transform: scale(0.97);
    box-shadow: none;
    background-color: rgb(96, 13, 230);
    color: white;
}

.aw {
    position: relative;
    font-size: 20px;
}

.bt-tugasz {
    position: relative;
    margin-top: 60px;
    border: 3px solid rgb(255, 255, 255);
    background-color: rgb(252, 252, 252);
    border-radius: 6px;
    color: rgb(17, 17, 17);
    font-weight: bold;
    padding: 10px;
    width: 160px;
    outline: none;
    transition: 0.5s;
}

.bt-lose {
    position: relative;
    margin-top: 60px;
    background-color: rgb(96, 13, 230);
    border-radius: 6px;
    color: rgb(241, 241, 241);
    font-weight: bold;
    padding: 10px 40px;
    width: auto;
    outline: none;
    transition: 0.5s;
}

.bt-lose:hover {
    transition: 0.5s;
    color: white;
    transform: scale(0.95);
}

.bt-tugasz:hover {
    transition: 0.5s;
    transform: scale(0.95);
    cursor: pointer;
}

.la-angle-down {
    position: absolute;
    top: 15px;
    right: 30px;
    z-index: 666;
    cursor: pointer;
    border: 3px solid rgb(96, 13, 230);
    background-color: transparent;
    color: rgb(96, 13, 230);
    transition: 0.5s;
    border-radius: 90px;
    padding: 8px;
    font-size: 20px;
}

.la-angle-down-rotate {
    transition: 0.5s;
    transform: rotate(180deg);
}

.la-angle-down:hover {
    transition: 0.5s;
    transform: scale(0.95);
}

.list-tugas-post, .list-tugas-post2 {
    position: relative;
    top: 135px;
    font-family: 'Raleway';
    width: 90%;
    height: auto;
    overflow: hidden;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 20px lightgrey;
    margin: 60px auto 0px auto;
    padding: 30px;
    display: block;
    flex-wrap: wrap;
    transition: 0.5s;
}

.spinner {
    position: absolute;
    top: 15px;
    left: 85%;
    font-size: 10px;
}

.list-tugas-post-show {
    transition: 0.5s;
    height: 100px;
}

.jk {
    position: relative;
    top: 140px;
    width: 100%;
    height: 50px;
    background-color: transparent;
    opacity: 0;
}

.chd {
    position: relative;
    width: auto;
    height: auto;
    border-radius: 60px;
    background-color: #fff;
    transform: scale(1);
    box-shadow: 0 0 20px lightgrey;
    display: flex;
    margin: 50px 0 0px 0;
    text-align: left;
    padding: 10px 30px;
    line-height: 6px;
    transition: 0.5s;
    z-index: 99;
}

.label {
    font-weight: 500;
    font-size: 18px;
}

.chd i {
    position: relative;
    top: 7px;
}

.chd h3 {
    position: relative;
    left: -10px;
    font-size: 20px;
    font-weight: 500;
}

.list-tugas-post .la-pen, .la-times, .la-trash {
    background-color: rgb(96, 13, 230);
    color: white;
    border-radius: 90px;
    padding: 8px;
    font-size: 30px;
}

.form-groups div {
    margin: 10px;
}

.tepat2 {
    background-color: rgb(13, 240, 209);
    color: rgb(255, 255, 255);
    border-radius: 30px;
    padding: 2px 10px;
    font-weight: 500;
}

.tepat {
    background-color: rgb(252, 227, 5);
    color: rgb(78, 78, 78);
    border-radius: 30px;
    padding: 2px 10px;
    font-weight: 500;
}

.sec-kategori-nilai2 {
    position: relative;
    top: 180px;
    left: -80px;
    width: 80%;
    height: auto;
    font-family: 'Raleway';
    margin: auto;
    padding: 20px 20px 20px 0px;
    display: flex;
    background-color: transparent;
}

.sec-kategori-nilai2 .wrap-nilai {
    width: 100%;
    display: flex;
}

.sec-kategori-nilai2 .form-group {
    margin: 0 10px;
    width: 30%;
}

.la-calendar-alt {
    background-color: rgb(255, 255, 255);
    border: 3px solid rgb(96, 13, 230);
    color: rgb(96, 13, 230);
    border-radius: 90px;
    padding: 8px;
    font-size: 28px;
}

.content-list-tugas {
    position: relative;
    width: 90%;
    margin: auto;
    border-radius: 5px;
    padding: 10px;
}

@media(max-width: 840px) {
    .navbar {
        display: none;
    }
        
    .sec-tugas-img {
        position: relative;
        top: 20px;
        display: flex;
        flex-wrap: wrap;
        width: 97%;
        background-color: #fff;
        border-radius: 5px;
        margin: auto;
        height: auto;
        font-family: 'Raleway';
        padding: 8px;
        box-shadow: 0 0 20px lightgrey;
    }

    .content-swipper {
        width: 100%;
    }

    .list-bantuan {
        display: none;
    }

    .img-swipper {
        position: relative;
        margin: auto;
        width: 100%;
        height: auto;
        font-family: 'Raleway';
        color: white;
        padding: 22px;
        border-radius: 5px;
        background-image: url('../images/dekorasi/extensions_allFeatures.png');
        background-repeat: no-repeat;
        background-size: cover;
        overflow: hidden;
    }

    .img-swipper h2 {
        width: 100%;
    }
        
    .sec-tambah-tugas3 {
        position: relative;
        font-family: 'Raleway';
        top: 50px;
        padding: 10px 10px 45px 10px;
        box-shadow: 0 0 20PX lightgrey;
        margin: auto;
        text-align: left;
        justify-content: left;
        width: 97%;
        height: auto;
        border-radius: 10px;
        background-color: #fff;
        display: flex;
        flex-wrap: wrap;
    }

    .content-tugas {
        width: 100%;
        margin: 20px 0 0 0;
        padding-top: 3px;
    }

    .content-tugas h2 {
        position: relative;
        left: -100px;
        text-align: left;
        height: auto;
        font-size: 1.6rem;
        width: 100vw;
        padding: 0 10px;
    }

    .content-tugas p {
        position: relative;
        margin-bottom: 50px;
        left: -100px;
        text-align: left;
        height: auto;
        width: 100vw;
        padding: 0 13px;
        font-size: 1rem;
        color: rgb(94, 94, 94);
    }

    .bt-submit {
        display: none;
    }

    .btn-submitX {
        position: relative;
        display: inline;
    }

    .form {
        margin: auto;
        padding: 0 3px;
    }

    .perhatian {
        display: none;
    }

    .list-opsi {
        position: absolute;
        right: 20px;
    }

    .list-opsi i {
        margin: 0 10px;
    }

    #timex {
        background-color: rgb(218, 26, 26);
        box-shadow: 0 0 10px rgba(46, 46, 46, 0.26);
        color: rgb(255, 253, 253);
        cursor: pointer;
        transition: 0.5s;
    }

    #pen {
        transition: 0.5s;
    }

    #timex:hover {
        top: -0.6px;
        background-color: rgb(218, 26, 26);
        box-shadow: 0 0 10px rgba(46, 46, 46, 0.26);
        color: rgb(255, 253, 253);
        transition: 0.5s;
        transform: scale(0.93);
    }

    #pen:hover {
        top: -0.6px;
        box-shadow: 0 0 10px rgba(46, 46, 46, 0.26);
        color: rgb(255, 253, 253);
        transition: 0.5s;
        cursor: pointer;
        transform: scale(0.93);
    }

    .bt-submit {
        position: relative;
        top: 20px;
        margin-top: 20px;
        border: 3px solid rgb(96, 13, 230);
        background-color: rgb(96, 13, 230);
        border-radius: 6px;
        color: white;
        font-weight: bold;
        padding: 10px;
        width: 160px;
        outline: none;
        transition: 0.5s;
    }
        
    .sec-kategori-nilai2 {
        position: relative;
        top: 180px;
        left: 0px;
        width: 100%;
        height: auto;
        font-family: 'Raleway';
        margin: auto;
        padding: 10px 10px 10px 0px;
        display: flex;
        background-color: transparent;
    }

    .sec-kategori-nilai2 .wrap-nilai {
        position: relative;
        margin: auto;
        left: 0px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .sec-kategori-nilai2 .form-group {
        margin: 0 10px;
        width: 100%;
    }
 }
 